contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.3
packaging @ file:///home/task_176104885106445/conda-bld/packaging_1761049078006/work
pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
git+https://github.com/FAIR-INNOVATION/fairino-python-sdk.git#subdirectory=linux/fairino&egg=fairino
