<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino_plus_ag95">

  <xacro:include filename="$(find fairino_description)/urdf/fairino5_v6.urdf" />
  
  <xacro:include filename="$(find dh_ag95_description)/urdf/dh_ag95_macro.xacro" />
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <xacro:dh_ag95_gripper prefix="dh_" parent="wrist3_link">
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </xacro:dh_ag95_gripper>

</robot>